body {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: grey;
}

span {
    margin: 10px;
}

.box img {
    width: 90%;
}

.box1, .box3, .box4, .box5, .box6, .box7, .box8 {
    margin: 5px;
    border-radius: 1em;
}

.box2 {
    margin: 5px;
}

.foto1, .foto2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.box1 img, .box3 img, .box4 img, .box5 img, .box6 img, .box7 img, .box8 img {
    width: 100%;
    height: 300px;
    border-radius: 1em;
    justify-content: center;
    border: 2px solid greenyellow;
}

.box2 img {
    width: 100%;
    height: 150px;
    border-radius: 1em;
    justify-content: center;
    margin-top: 75px;
}

.box1, .box2, .box3 {
    width: 33%;
    height: 300px;
}

.box4, .box5, .box6, .box7, .box8 {
    width: 250px;
    height: 300px;
}
