body {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: gray;
}

nav, header, article, aside {
    margin-top: -18.5px;
}

footer {
    margin-top: -19px;
}

header h3, footer h3 {
    text-align: center;
    line-height: 5em;
}

article, aside {
    text-align: center;
    line-height: 23em;
}

nav {
    text-align: center;
    line-height: 35em;
}

.container, .article-aside{
    display: flex;
}

.box1 {
    background-color: plum;
    width: 300px;
    height: 600px;
}

.box2 {
    background-color:greenyellow;
    width: 1000px;
    height: 100px;
}

.box3 {
    background-color:wheat;
    width: 700px;
    height: 400px;
}

.box4 {
    background-color:aqua;
    width: 300px;
    height: 400px;
}

.box5 {
    background-color:greenyellow;
    width: 1000px;
    height: 100px;
}